<div class="fondo"></div>
<!-- <div class="fondo_color"> -->
<div *ngIf="isLoading" class="container-spinner">
  <div class="spinner"></div>
  <p class="spinner-text">Cargando...</p>
</div>
<!-- </div> -->

<div class="card_item-container" *ngIf="!isLoading">
  <div class="container-breadcrumbList">
    <div class="input__carpetas-container mb-3">
      <input
        class="input-src"
        [spellcheck]="false"
        type="text"
        [(ngModel)]="src"
        placeholder="Buscar"
        (ngModelChange)="searchQuery($event)"
      />
      <div class="d-flex gap-3">
        <ng-container *ngIf="user_rol === 3">
          <p-button
            label="Agregar carpeta"
            class="p-button-secondary btn-addDep"
            icon="bi bi-plus-lg"
            iconPos="right"
            (onClick)="openModalCreateDependencie(addDependencieModal, true)"
          ></p-button>
        </ng-container>

        <p-button
          label="Buscar Archivos"
          icon="bi bi-file-earmark-fill"
          iconPos="right"
          (onClick)="openModalSearchFiles()"
        ></p-button>
      </div>
    </div>
    <app-breadcrumb [rutasData]="rutasData"></app-breadcrumb>
  </div>

  <div
    class="card_item-containerTable"
    style="overflow-y: scroll; max-height: 60vh"
  >
    <ng-container *ngIf="archivosVarios">
      <div
        class="card__2level-container cardArchivosVarios"
        routerLink="/dashboard/home/documentos/{{ archivosVariosURL }}"
      >
        <div class="card__2level-containerPI">
          <img src="../../../../../../assets/icons/document.svg" alt="" />
          <p class="">Archivos Varios</p>
        </div>
      </div>
    </ng-container>
    <ng-container *ngFor="let subgerencia of filterDependeciesName">
      <ng-container
        *ngIf="
          subgerencia.has_sub == true &&
          subgerencia.has_doc == true &&
          subgerencia.has_header == false
        "
      >
        <div class="card__2level-container">
          <div
            class="card__2level-containerPI"
            routerLink="/dashboard/home/carpetas/{{ subgerencia.id }}"
          >
            <img src="../../../../../../assets/icons/icon-carpeta.png" alt="" />
            <p class="">{{ subgerencia.nombre }}</p>
          </div>
          <ng-container *ngIf="subgerencia.editable == true && user_rol == 3">
            <button
              pButton
              pRipple
              label="Editar"
              icon="bi bi-pencil"
              iconPos="right"
              class=""
              (click)="
                setEditable(
                  subgerencia.id,
                  subgerencia.nombre,
                  addDependencieModal
                )
              "
            ></button>
          </ng-container>
        </div>
      </ng-container>
      <ng-container
        *ngIf="
          subgerencia.has_sub == false &&
          subgerencia.has_doc == false &&
          subgerencia.has_header == true
        "
      >
        <div class="card__2level-container">
          <div
            class="card__2level-containerPI"
            routerLink="/dashboard/home/documentos/{{ subgerencia.id }}"
          >
            <img src="../../../../../../assets/icons/icon-carpeta.png" alt="" />
            <p class="">{{ subgerencia.nombre }}</p>
          </div>
          <ng-container *ngIf="subgerencia.editable == true && user_rol == 3">
            <button
              pButton
              pRipple
              label="Editar"
              icon="bi bi-pencil"
              iconPos="right"
              class=""
              (click)="
                setEditable(
                  subgerencia.id,
                  subgerencia.nombre,
                  addDependencieModal
                )
              "
            ></button>
          </ng-container>
        </div>
      </ng-container>
      <ng-container
        *ngIf="
          subgerencia.has_sub == true &&
          subgerencia.has_doc == false &&
          subgerencia.has_header == true
        "
      >
        <div class="card__2level-container">
          <div
            class="card__2level-containerPI"
            routerLink="/dashboard/home/documentos/{{ subgerencia.id }}"
          >
            <img src="../../../../../../assets/icons/icon-carpeta.png" alt="" />
            <p class="">{{ subgerencia.nombre }}</p>
          </div>
          <ng-container *ngIf="subgerencia.editable == true && user_rol == 3">
            <button
              pButton
              pRipple
              label="Editar"
              icon="bi bi-pencil"
              iconPos="right"
              class=""
              (click)="
                setEditable(
                  subgerencia.id,
                  subgerencia.nombre,
                  addDependencieModal
                )
              "
            ></button>
          </ng-container>
        </div>
      </ng-container>
      <ng-container
        *ngIf="
          subgerencia.has_sub == false &&
          subgerencia.has_doc == true &&
          subgerencia.has_header == true
        "
      >
        <div class="card__2level-container">
          <div
            class="card__2level-containerPI"
            routerLink="/dashboard/home/documentos/{{ subgerencia.id }}"
          >
            <img src="../../../../../../assets/icons/icon-carpeta.png" alt="" />
            <p class="">{{ subgerencia.nombre }}</p>
          </div>
          <ng-container *ngIf="subgerencia.editable == true && user_rol == 3">
            <button
              pButton
              pRipple
              label="Editar"
              icon="bi bi-pencil"
              iconPos="right"
              class=""
              (click)="
                setEditable(
                  subgerencia.id,
                  subgerencia.nombre,
                  addDependencieModal
                )
              "
            ></button>
          </ng-container>
        </div>
      </ng-container>
      <ng-container
        *ngIf="
          subgerencia.has_sub == true &&
          subgerencia.has_doc == true &&
          subgerencia.has_header == true
        "
      >
        <div class="card__2level-container">
          <div
            class="card__2level-containerPI"
            routerLink="/dashboard/home/documentos/{{ subgerencia.id }}"
          >
            <img src="../../../../../../assets/icons/icon-carpeta.png" alt="" />
            <p class="">{{ subgerencia.nombre }}</p>
          </div>
          <ng-container *ngIf="subgerencia.editable == true && user_rol == 3">
            <button
              pButton
              pRipple
              label="Editar"
              icon="bi bi-pencil"
              iconPos="right"
              class=""
              (click)="
                setEditable(
                  subgerencia.id,
                  subgerencia.nombre,
                  addDependencieModal
                )
              "
            ></button>
          </ng-container>
        </div>
      </ng-container>
      <ng-container
        *ngIf="
          subgerencia.has_sub == true &&
          subgerencia.has_doc == false &&
          subgerencia.has_header == false
        "
      >
        <div class="card__2level-container">
          <div
            class="card__2level-containerPI"
            routerLink="/dashboard/home/carpetas/{{ subgerencia.id }}"
          >
            <img src="../../../../../../assets/icons/icon-carpeta.png" alt="" />
            <p class="">{{ subgerencia.nombre }}</p>
          </div>
          <ng-container *ngIf="subgerencia.editable == true && user_rol == 3">
            <button
              pButton
              pRipple
              label="Editar"
              icon="bi bi-pencil"
              iconPos="right"
              class=""
              (click)="
                setEditable(
                  subgerencia.id,
                  subgerencia.nombre,
                  addDependencieModal
                )
              "
            ></button>
          </ng-container>
        </div>
      </ng-container>
      <ng-container
        *ngIf="
          subgerencia.has_sub == false &&
          subgerencia.has_doc == false &&
          subgerencia.has_header == false
        "
      >
        <div class="card__2level-container">
          <div
            class="card__2level-containerPI"
            routerLink="/dashboard/home/carpetas/{{ subgerencia.id }}"
          >
            <img src="../../../../../../assets/icons/icon-carpeta.png" alt="" />
            <p class="">{{ subgerencia.nombre }}</p>
          </div>
          <ng-container *ngIf="subgerencia.editable == true && user_rol == 3">
            <button
              pButton
              pRipple
              label="Editar"
              icon="bi bi-pencil"
              iconPos="right"
              class=""
              (click)="
                setEditable(
                  subgerencia.id,
                  subgerencia.nombre,
                  addDependencieModal
                )
              "
            ></button>
          </ng-container>
        </div>
      </ng-container>

      <div
        class="d-flex col gap-3 justify-content-center"
        *ngIf="user_rol == 1"
      >
        <button
          style="margin-top: 5px; margin-bottom: 5px"
          class="btn btn-success"
          (click)="cargar_script(subgerencia.id)"
        >
          CARGA_SCRIPT
        </button>

        <button
          style="margin-top: 5px; margin-bottom: 5px"
          class="btn btn-danger"
          (click)="borrar_documentos(subgerencia)"
        >
          Borrar documentos
        </button>

        <button
          style="margin-top: 5px; margin-bottom: 5px"
          class="btn btn-danger"
          (click)="borrar_dependencia(subgerencia)"
        >
          Borrar dependencia
        </button>
      </div>
    </ng-container>
    <ng-container *ngIf="noDataMsg">
      <div class="d-flex justify-content-center">
        <ng-container *ngIf="user_rol == 3">
          <p-button
            *ngIf="!hasSheet && !firstSheet"
            label="Agregar hoja"
            class="p-button-secondary btn-addDep"
            icon="bi bi-plus-lg"
            iconPos="right"
            (onClick)="openModalCreateSheet(addSheet)"
          ></p-button>
          <p-button
            *ngIf="firstSheet || hasSheet"
            label="Agregar contenido"
            class="p-button-secondary btn-addDep"
            icon="bi bi-plus-lg"
            iconPos="right"
            (onClick)="openModalCreateContent(addTableModal, false)"
          ></p-button>
        </ng-container>
        <ng-container *ngIf="user_rol !== 3">
          <p class="fs-4 text-light">No hay información</p>
        </ng-container>

        <!-- <h3 class="text-light text-center">
        No hay dependencias para crear, puede crear una.
      </h3> -->
      </div>
    </ng-container>
  </div>
</div>

<!-- Abrir componente del modal para mostrar búsqueda de archivos -->
<ng-template #SearchFileModal let-modal>
  <search-file-modal
    [valuesTable]="valuesTable"
    [indiceDependencia]="indiceDependencia!"
  ></search-file-modal>
</ng-template>

<ng-template #addDependencieModal let-modal>
  <div class="modal-header text-light" style="background-color: #222222">
    <h4 class="modal-title" id="modal-basic-title">
      {{ editableItem ? "Editar" : "Crear nueva" }} dependencia
    </h4>
    <button
      type="button"
      class="btn-close text-light"
      style="top: auto; filter: invert(100%)"
      aria-label="Close"
      data-bs-theme="dark"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <form-add-dependencie
    [currentRoute]="currentRoute"
    [editableItem]="editableItem"
    [indiceDependencia]="indiceDependencia"
    [dependenciaIndiceLongitud]="dependenciaIndiceLongitud"
    (executeGetDependency)="getDependecy()"
    [isCreateDependencia]="isCreateDependencia"
  ></form-add-dependencie>
</ng-template>

<ng-template #addSheet let-modal>
  <div class="modal-header text-light" style="background-color: #222222">
    <h4 class="modal-title" id="modal-basic-title">Crear hoja</h4>
    <button
      type="button"
      class="btn-close text-light"
      style="top: auto; filter: invert(100%)"
      aria-label="Close"
      data-bs-theme="dark"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <form-add-sheet
    [currentRoute]="currentRoute"
    (responseSheet)="sheetResponse($event)"
  ></form-add-sheet>
</ng-template>

<ng-template #addTableModal let-modal>
  <div class="modal-header text-light" style="background-color: #222222">
    <h4 class="modal-title" id="modal-basic-title">Crear nueva tabla</h4>
    <button
      type="button"
      class="btn-close text-light"
      style="top: auto; filter: invert(100%)"
      aria-label="Close"
      data-bs-theme="dark"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <form-add-table
    [sheetId]="hasSheet"
    [currentRoute]="currentRoute"
    [indiceDependencia]="indiceDependencia"
    [dependenciaIndiceLongitud]="dependenciaIndiceLongitud"
    (executeGetDependency)="getDependecy()"
    [isCreateDependencia]="isCreateDependencia"
  ></form-add-table>
</ng-template>
