<div class="mt-4 ">
    <div class="auth__form-title text-center">
        <h2 class="text-uppercase fw-bold">Bienvenido</h2>
    </div>
    <div class="auth__form-content mt-4">

        <p class="auth__text-content">
            <b> Verificación en dos pasos </b>
            <br>
            Introduce tu contraseña para que puedas ingresar
        </p>

        <form [formGroup]="passwordForm" >
        <div class="auth__input-container w-100">
            
                    <label for="email" class="m-1 auth__label-input p-0 pb-3">
                       Contraseña
                    </label>
                    <div class="row">
                        <div class="col-10 col-md-7">

                            <div    class="form-group m-0 pl-2 pr-2 "
                                    [class.auth__input-error-container] = "inputIsValid('password')">

                                    <input  class="form-control w-100 p-1 "
                                            name="password" 
                                            id="password" 
                                            [type]="(isShowPassword)?'text' : 'password'"
                                            formControlName="password">        
                            </div>
                            <span  for="password"
                                    class="text-small text-danger"
                                    *ngIf="inputIsValid('password')">
                                            Campo requerido
                            </span>
                            
                        </div>
                        <div class="col-2 col-md-3 align-self-center">
                            <img    src="./../../../../../assets/icons/{{(!isShowPassword)?'eye-icon':'eye-fill-icon'}}.png" 
                                    alt="eye icon" 
                                    class="img-fluid"
                                    (click)="isShowPassword =  !isShowPassword">
                        </div>
                    </div>
        </div>                                
            <div class="form-group mt-5 text-center">
                <button type="submit" 
                        class="btn  mt-3 auth__button btn-block w-100 text-light text-uppercase">
                        INICIAR SESIÓN
                </button>
            </div>

        </form>
    </div>               
</div>