<div class="modal-body text-light" style="background-color: #545454">
  <form [formGroup]="dependencieForm" (ngSubmit)="onSubmitAddDep()">
    <div class="mb-3">
      <label for="nombre" class="form-label fw-bold">
        Nombre de la dependencia
      </label>
      <input
        type="text"
        id="nombre"
        class="form-control bg-transparent text-light"
        formControlName="nombre"
      />

      <div formArrayName="metaData" class="mt-3">
        <div *ngFor="let meta of metaData.controls; let i = index" class="mb-3">
          <p-dropdown
            [options]="headers!"
            [editable]="true"
            [virtualScroll]="true"
            [virtualScrollItemSize]="48"
            [lazy]="true"
            filterBy="nameHeader"
            optionLabel="nameHeader"
            [filter]="true"
            [showClear]="true"
            placeholder="Seleccione un encabezado o escriba uno nuevo"
            styleClass="custom-dropdown"
            [formControlName]="i"
          ></p-dropdown>
          <button
            class="btn btn-danger btn-lg"
            type="button"
            (click)="removeMetaData(i)"
          >
            <i class="bi bi-trash fs-5"></i>
          </button>
        </div>
      </div>
    </div>

    <ng-container *ngIf="userRol">
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="dependencieForm.invalid"
      >
        {{ editableItem ? "Editar" : "Crear" }} dependencia
      </button>
    </ng-container>
  </form>
</div>
